<!doctype html>
<html lang="en">
<head>
	<title></title>
</head>
<body>
	<p>test</p>
	<a href="{{ url }}">Invite Link </a>
	{% assign token = url | split: "?token=" | last %}
	token = {{token}}
</body>
</html>