---
directus_admin_mail:
  - "{{dev_directus.admin_mail}}"
  - "{{prod_directus.admin_mail}}"  
directus_admin_pw:
  - "{{dev_directus.admin_pw}}"
  - "{{prod_directus.admin_pw}}"
smtp_user:
  - "{{dev_smtp.user}}"
  - "{{prod_smtp.user}}"
smtp_password:
  - "{{dev_smtp.password}}"
  - "{{prod_smtp.password}}"
smtp_host:
  - "{{dev_smtp.host}}"
  - "{{prod_smtp.host}}"
smtp_port:
  - "{{dev_smtp.port}}"
  - "{{prod_smtp.port}}"
directus_key:
  - "{{dev_directus.key}}"
  - "{{prod_directus.key}}"
directus_secret:
  - "{{dev_directus.secret}}"
  - "{{prod_directus.secret}}"

