services:
  traefik:
    image: traefik:2.9.1
    restart: always
    container_name: reverse_proxy_traefik
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/{{ ansible_user }}/proxy/configs/traefik.yml:/etc/traefik/traefik.yml
      - /home/{{ ansible_user }}/proxy/configs/dynamic:/etc/traefik/dynamic
      - /home/{{ ansible_user }}/proxy/certificates/acme.json:/etc/traefik/acme/acme.json
    networks:
      - traefik_network

networks:
  traefik_network:
    external: true
